<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ '/' | prepend: site.baseurl }}" title="Home">Home</a></li>
				<li><a href="{{ "/aplikasi" | prepend: site.baseurl }}">Aplikasi</a></li>
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
			</ul>
		</nav>
	</div>
</aside>

<header style="background: url('https://www.w3schools.com/w3images/chicago.jpg') no-repeat fixed center;">
	<h1>
		<a href="{{ site.baseurl }}">{{ site.title }}</a><br>
	</h1>
</header>
 
